{% extends "base.html" %}

{% block title %}Quarry Section - Mlima Granite{% endblock %}

{% block content %}
    <h2>Quarry Section</h2>
    <div class="form-container">
        <form method="POST">
            <label for="date">Date:</label><br>
            <input type="date" id="date" name="date" required><br>

            <label for="boulder_description">Boulder Description (color, size):</label><br>
            <input type="text" id="boulder_description" name="boulder_description" required><br>

            <label for="good_boulder">Good Boulder:</label><br>
            <select id="good_boulder" name="good_boulder">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select><br>

            <label for="defect_line">Defect Line:</label><br>
            <select id="defect_line" name="defect_line">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select><br>

            <label for="natural_cracks">Natural Cracks:</label><br>
            <select id="natural_cracks" name="natural_cracks">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select><br>

            <label for="mining_cracks">Mining Cracks:</label><br>
            <select id="mining_cracks" name="mining_cracks">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select><br>

            <label for="undersize">Undersize:</label><br>
            <select id="undersize" name="undersize">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select><br>

            <input type="submit" value="Submit">
        </form>
    </div>

    {#   
    <h2>Boulders</h2>
    <table>
        <tr>
            <th>Boulder ID</th>
            <th>Date</th>
            <th>Boulder Description</th>
            <th>Good Boulder</th>
            <th>Defect Line</th>
            <th>Natural Cracks</th>
            <th>Mining Cracks</th>
            <th>Undersize</th>
            <th>Total Boulders</th>
        </tr>
        {% for boulder in boulders %}
        <tr>
            <td>{{ boulder[0] }}</td>
            <td>{{ boulder[1] }}</td>
            <td>{{ boulder[2] }}</td>
            <td>{{ boulder[4] }}</td>
            <td>{{ boulder[5] }}</td>
            <td>{{ boulder[6] }}</td>
            <td>{{ boulder[7] }}</td>
            <td>{{ boulder[8] }}</td>
            <td>{{ boulder[9] }}</td>
        </tr>
        {% endfor %}
    </table>
    #}

{% endblock %}

